# 1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.

* - Expression

'hello' - Value

-87.8 - Value

- - Expression

/ - Expression

+ - Expression

6 - Value

# 2. What is the difference between string and variable?

A variable is anything that can be represented in a programming language that one can assign different values to. 
So a variable could hold a number, an array, a set, a string or even a function.

A string is a list of characters, often represented as an array, e.g. “The quick brown fox. 1234!@#$%^&*’()_+”
A string could be a variable.

# 3. Describe three different data types.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

You can get the data type of any object by using the type() function:
eg. x = 13
    type(x)
    >>>>int
    
Setting the Data Type
In Python, the data type is set when you assign a value to a variable:
eg. str1 = "Hello World"
    >>>here str1 is of string data type and its value is ' Hello World'

# 4. What is an expression made up of? What do all expressions do?

In [ ]:





5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

7. What should the values of the following two terms be?
'spam' +'spamspam' =
'spam' * 3

8. Why is eggs a valid variable name while 100 is invalid?

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon = 22

In [3]:
bacon+1

23

# 7. What should the values of the following two terms be?
'spam' +'spamspam'  = 'spamspamspam' #It concatinates with other string

In [4]:
'spam' * 3 = 'spamspamspam' # spam string iterated 3 times

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
100 is invalid variable name because it's starting with numeric value which is not allowed
variable name must start with char eg. eggs

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

#1. To get an integer int() function is used

In [9]:
a = 7.5

In [10]:
int(a)

7

In [12]:
b = '56'

In [13]:
type(b)

str

In [14]:
int(b)

56

In [ ]:
#2. similary To get floating point number float() function is used

In [ ]:
#3. To get string or convert something into string str() function is used

# 10 Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 +'burritos.'

In [8]:
# + operator here used to perform concatenation but it will concatenate only string values not with other data type
# as here 99 is integer so it will throw that error
# To fix this error need to convert 99 to string format 
'I have eaten ' + '99 ' +'burritos.'

'I have eaten 99 burritos.'

In [ ]:
------------------ END --------------------------------